﻿
@{
    ViewBag.Title = "FormExample3";
}

<h2>This page is returned in response to a @ViewBag.RequestMethod request</h2>
@*The action attribute in the form element indicates where the POST request
  is sent to.*@
<form method="post" action="/Home/FormExample3">
    <label for="name">Your name</label>
    <input type="text" name="name" value="" />
    <label for="password">Your password</label>
    <input type="password" name="password" value="" />
    <label for="age">Your age</label>
    <input type="number" name="age" value="" />

    <input type="submit" name="submit" value="Submit" />
</form>