﻿
@{
    ViewBag.Title = "FormExample2";
}

<h2>FormExample2</h2>


<form method="post">
    <label for="name">Your name</label>
    <input type="text" name="name" value="" />
    <label for="password">Your password</label>
    <input type="password" name="password" value="" />
    <label for="age">Your age</label>
    <input type="number" name="age" value="" />

    <input type="submit" name="submit" value="Submit" />
</form>

@if (ViewBag.password != null)
{
    <p>Thank you @ViewBag.password</p>
    @ViewBag.age
}