﻿
@{
    ViewBag.Title = "FormExample";
}

<h2>FormExample</h2>

<form method="post">
    <label for="name">Your name</label>
    <input type="text" name="name" value="" />
    <label for="password">Your password</label>
    <input type="password" name="password" value="" />
    <input type="submit" name="submit" value="Submit" />
</form>

@if (ViewBag.password != null)
{
    <p>Thank you @ViewBag.password</p>
}


