﻿
@{
    ViewBag.Title = "Multiply";
}

<h2>Multiply two numbers!</h2>

@*Create a form manually.  By default, posts to the same address so we don't
    have to specify an action unless we want to send it to a different controller
    or action method*@
<form method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" />
    <label for="a">First Number:</label>
    <input type="number" id="a" name="a" />
    <label for="b">Second Number:</label>
    <input type="number" id="b" name="b" />
    <input type="submit" value="Multiply" />
</form>

@if(ViewBag.ShowAnswer)
{
    <div class="alert-success">Your answer, @ViewBag.Name: @ViewBag.Answer</div>
}
else
{
    <div class="alert-warning">@ViewBag.ErrorMessage</div>
}


